name: Python application

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - 'pypy-3.7'
          - 'pypy-3.8'
          - 'pypy-3.9'
        os:
          - ubuntu-latest
      fail-fast: false
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with pylint
      run: |
        pip install pylint
        # E1136 happens spuriously on Python 3.9 and pylint - https://github.com/PyCQA/pylint/issues/3882
        pylint --disable=C,R,W,E1136 jinsi
    - name: Run tests
      run: |
        python -m unittest -v
